$white: #fff;
$black: #000;
$primary: #a99999;
$secondary: #beb8b8;
$light: #f2f2f2;
$dark: #666;

// Breakpoints
$mac: 1600px;
$pc: 1400px;
$ipad: 995px;
$small-pc: 1286px;
$notebook: 1024px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;
$custom-size: 700px;