header {
    width: 100%;
    padding: 32px 0;
    margin: 0 auto;
    position: absolute;
    z-index: 10;

    @include responsive($iphone) { padding: 10px 0 32px 0; }

    .wrapper {
        width: 100%;
        @include vendor(display, flex);
        @include vendor(justify-content, space-between);

        h1 a {
            padding-left: 20px;
            color: $white;
            font-size: 18px;
            letter-spacing: .5px;
        }

        h1:not(a) {
            color: $white;
            font-size: 14px;
            opacity: .8;
        }
        
        #menu {
            padding-right: 20px;
            font-size: 14px;
            color: $white;
            cursor: pointer;

            @include flex;

            small {
                margin-right: 8px;
                font-size: 0;
                &::after {
                    content: '\f0c9';
                    color: $white;
                    font-size: 14px;
                    @include icon;
                }
            }

            &:hover,
            &:hover small::after {
                color: $primary;
                @include vendor(transition, .5s ease);
                @include responsive($phone) { color: $white; }
            }
        }

        nav {
            width: 100%;
            padding: 30px 0;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background: $white;
            text-align: center;
            @include vendor(transform, translateY(-200%));
            @include vendor(transition, 1s ease);

            &.showNav { @include vendor(transform, translateY(0)); }

            ul {
                @include vendor(display, flex);
                @include vendor(flex-direction, column);

                li {
                    margin: 10px 0;

                    a {
                        color: $black;
                        @include vendor(transition, .5s ease);
                        &:hover {
                            color: $primary;
                            @include responsive($phone) { color: $black; }
                        }
                    }
                }
            }

            #close {
                padding: 4px 12px;
                border-radius: 5px;
                position: absolute;
                top: 6%;
                right: 2%;
                background: $secondary;
                font-weight: 600;
                cursor: pointer;
                @include vendor(transition, .2s ease);
    
                &:hover {
                    background: $light;
                    @include responsive($phone) { background: $secondary; }
                }
            }
        } 
    }
}